<div class="card">
  <h5>Implicit Pagination</h5>
  <p-table
    [value]="coffees"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    responsiveLayout="scroll"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 25, 50]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Origin</th>
        <th>Variety</th>
        <th>Notes</th>
        <th>Intensifier</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-coffee>
      <tr>
        <td>{{ coffee.id }}</td>
        <td>{{ coffee.blend_name }}</td>
        <td>{{ coffee.origin }}</td>
        <td>{{ coffee.variety }}</td>
        <td>{{ coffee.notes }}</td>
        <td>{{ coffee.intensifier }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <p-button
        type="button"
        icon="pi pi-plus"
        styleClass="p-button-text"
      ></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <p-button
        type="button"
        icon="pi pi-cloud"
        styleClass="p-button-text"
      ></p-button>
    </ng-template>
  </p-table>
</div>
